.githubIcon {
  background: center/contain url('./assets/github.svg');
}

.googleIcon {
  background: center/contain url('./assets/google.svg');
}

.shufengIcon {
  background: center/contain url('./assets/shufeng.svg');
}
